body, html { 
    overflow-x: hidden; 
        }
body {
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
    font-style: normal; 
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}


#main-wrapper {
     overflow: hidden;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}
.navbar {
    border-radius: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6em;
}
.navbar-default {
    background: none;
    border: none;
}
.nav>li {
 margin-right: 10px; 
}
.nav>li:last-child {
 margin-right: 0; 
}
.nav i {
    display: block;
    padding: 15px 0 15px 0;
}
.nav .fa { font-size: 2em; }
.navbar-default .navbar-nav > li > a {
   color: white;
    background-color: rgba(0,0,0,0.5);
    width: 100px;
    height: 100px;
	-webkit-transform:rotate(45deg);
	   -moz-transform:rotate(45deg);
	    -ms-transform:rotate(45deg);
	     -o-transform:rotate(45deg);
	        transform:rotate(45deg); 
	border:1px solid white;

	-webkit-border-radius:5px;
	   -moz-border-radius:5px;
	    -ms-border-radius:5px;
	     -o-border-radius:5px;
	        border-radius:5px; 
			

	margin:4px;
	margin-top:20px;
	position:relative;
	overflow:hidden;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: yellow;
    background-color: rgba(0,0,0,0.5);
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: yellow;
    background-color: rgba(0,0,0,0.5);
}
.site-name {
    cursor: pointer;
    font-size: 46px;
}

.footer{
    background-color:black;
}

#icon{
    font-size: 15px;
}

#para{
    font-size: 15px;
	color:white;
}

.heading{
	color:white;
	font-size:20px;
	font-weight:bold;
}

#tf-contact{ 
	padding: 5% 0;
	text-align: center;
}

form#contact {
	padding: 5%; 
	background-color: rgba(0,0,0,0.5);
	
 }

#tf-contact input.form-control {
	height: 40px;
}

#tf-contact .form-control{
	display: block;
	width: 100%;
	margin-bottom: 20px;
	padding: 16px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555; 
	border: 1px solid #FFF;
	border-radius: 0;
	border-top: 2px solid transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: all 0.8s;
}

#tf-contact .form-control:hover{
	border-bottom: 2px solid #1e1e15;
}

#tf-contact .form-control:hover{
	font-size:12px;
	font-family:Gabriola;
	font-weight:bold;
}

.btn{
	background:rgba(224, 224, 209 , 0.4);
	border:none;
}


.btn:hover{
	background:rgba(224, 224, 200 , 0.4);
	box-shadow:2px 2px 5px black;
	
}




.social-btn-container{
	text-align:center;
	margin:60px auto 0 auto;
}
.social-btn-container .social-btn-box{
	display:inline-block;
	width:40px;
	height:40px;
	top:-60px;

	-webkit-transform:rotate(45deg);
	   -moz-transform:rotate(45deg);
	    -ms-transform:rotate(45deg);
	     -o-transform:rotate(45deg);
	        transform:rotate(45deg);

	border:1px solid white;

	-webkit-border-radius:5px;
	   -moz-border-radius:5px;
	    -ms-border-radius:5px;
	     -o-border-radius:5px;
	        border-radius:5px;

	margin:15px;
	position:relative;
	overflow:hidden;
}
.social-btn-container .social-btn-box a{
	color:#663300;
	font-size:20px;
	font-family:Cambria;
	line-height:80px;
	display:inline-block;
	text-decoration:none;
	width:80px;
	height:80px;
	position:absolute;
	top:-20px;
	left:-20px;

	-webkit-transform:rotate(-45deg);
	   -moz-transform:rotate(-45deg);
	    -ms-transform:rotate(-45deg);
	     -o-transform:rotate(-45deg);
	        transform:rotate(-45deg);
}
.social-btn-box,
.social-btn-box a{
	
	-webkit-transition:all .25s;
	   -moz-transition:all .25s;
	    -ms-transition:all .25s;
	     -o-transition:all .25s;
	        transition:all .25s;
} 
.social-btn-box:hover{
	border-color:none;
}
.social-btn-box .facebook-btn:hover{
	transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-webkit-transition: 0.4s ease-in-out;
	color: #fff;
	background:#3B5998;
	color: #fff;
}
.social-btn-box .twitter-btn:hover{
	transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-webkit-transition: 0.4s ease-in-out;
	color: #fff;
	background:#55ACEE;
	color: #fff;
}
.social-btn-box .linkedin-btn:hover{
	transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-webkit-transition: 0.4s ease-in-out;
	color: #fff;
	background:#0077b5;
	color: #fff;
}  

}  













@media screen and (max-width: 767px) {
    .nav i {
        display: inline-block;
        padding: 0 5px 0 0;
    }
    .navbar-default .navbar-nav > li > a {
        width: 100%;
        height: 60px;
        background: none;
    }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        background: none;
    }
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
        background: none;
    }
    .navbar-default {
        background: rgba(0,0,0,0.4);
        border: none;
    }
}